html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: var(--baseFontWeight) var(--baseFontSize) / var(--baseLineHeight)
    var(--baseFontFamily);
}

main {
  margin: 0 auto;
  width: 170rem;
  margin-top: 15rem;
}

/* stylelint-disable-next-line selector-class-pattern */
.fancybox__backdrop {
  /* stylelint-disable-next-line custom-property-pattern */
  --fancybox-bg: #0003;
}
